{{ define "main" }}
    <section class="container">
        <h1 class="mb-8 lg:mb-30">{{ .Title }}</h1>

        <div class="mb-6 lg:mb-0">
            <h3>Filmind</h3>
            <p>Budapest, Budakeszi út 51. H-1022</p>
            <p class="text-alto mt-5">
                <a href="tel:+36 (1) 413-7236" class="text-alto no-underline" title="Call +36 (1) 413-7236">+36 (1) 413-7236</a>
            </p>
            <p>
                <a href="mailto:office@filmind.hu" title="Mail to office@filmind.hu">office@filmind.hu</a>
            </p>
        </div>

    </section>
{{ end }}