<footer class="pt-16 pb-9 lg:py-[70px] bg-mine-shaft mt-[100px]">
    <div class="container lg:flex justify-between">
        <div class="mb-6 lg:mb-0">
            {{ if ne .Title "contact" }}
            <img src="/images/small-logo.svg" alt="FIlmind logo">
            <p class="mt-3.5 text-lg">Budapest, Budakeszi út 51. H-1022</p>
            <p class="text-lg">Telephone: +36 (1) 413-7236</p>
            <p class="text-lg">office@filmind.hu</p>
            {{ end }}
        </div>
        <div class="lg:flex items-center">
            <p class="mb-20 lg:mb-0 lg:py-3.5">
                <a href="/contact" title="Contact us page" class="py-7 bg-las-palmas px-[70px] hover:bg-alto text-cod-gray no-underline hover:text-cod-gray text-xxl font-normal inline-flex">contact us</a>
            </p>
            <span class="line"></span>
            <div class="ml-14 lg:ml-0 flex items-center gap-x-4">
                <a href="https://www.linkedin.com/company/filmindhungary" target="_blank" title="Filmind LinkedIn page" class="text-lg">
                    <img src="/images/linkedin.svg" alt="instagram logo" class="inline-block" width="40">
                </a>
                <a href="https://www.instagram.com/thescout.hu/" target="_blank" title="TheScout instagram page" class="text-lg font-inter font-normal">
                    <img src="/images/instagram.svg" alt="instagram logo" class="inline-block">
                    @ <span class="underline">thescout.hu</span>
                </a>
            </div>
        </div>
    </div>
</footer>