<div class="flex-1 flex justify-end lg:mt-10 self-center lg:self-start">
    <div id="nav-open" class="cursor-pointer w-11 lg:w-auto" title="Open navigation">
        <img src="/images/hamburger.svg" alt="Open navigation">
    </div>
    <div id="navigation" class="navigation">
        <div class="navigation-container">
            <div class="w-[181px] lg:w-64">
                <a href="/" title="Go to the home page">
                    <img src="/images/logo.svg" alt="Logo">
                </a>
            </div>
            <nav class="lg:ml-28 lg:mr-36 order-last w-full lg:w-auto lg:order-none col-span-full my-9 lg:mt-0">
                <ul class="space-y-5 lg:space-y-0">
                    <li>
                        <a href="/service-production">full-service production</a>
                    </li>
                    <li>
                        <a href="/co-production">co-production</a>
                    </li>
                    <li>
                        <a href="/our-works" title="Our works">our works</a>
                    </li>
                    <li>
                        <a href="/cash-rebate" title="Cash rebate">cash rebate</a>
                    </li>
                    <li>
                        <a href="/locations">locations</a>
                    </li>
                    <li>
                        <a href="/studios-and-backlots">studios & backlots</a>
                    </li>
                    <li>
                        <a href="/our-team">our team</a>
                    </li>
                    <li>
                        <a href="/about">about us</a>
                    </li>
                    <li>
                        <a href="/contact">contact</a>
                    </li>
                </ul>
            </nav>
    
            <div id="nav-close" class="cursor-pointer z-50 w-11 lg:w-auto self-center lg:self-start ml-auto lg:mt-10" title="Close navigation">
                <img src="/images/hamburger.svg" alt="Close navigation">
            </div>
        </div>
        
    </div>
</div>