<div class="prev-btn slider-arrow" title="Prev">
    <img src="/images/slider-arrow.svg" alt="Prev">
</div>
<div class="container">
    <swiper-container init="false" class="h-[600px] lg:h-auto">
        {{ range .Pages.ByWeight }}
            <swiper-slide class="slide">
                {{ .Render "summary" }}
                <div class="swiper-lazy-preloader"></div>
            </swiper-slide>
        {{ end }}
    </swiper-container>
</div>
<div class="next-btn slider-arrow" title="Next">
    <img src="/images/slider-arrow.svg" alt="Next">
</div>